@number-hue: 200;

@marker-height: 12px;
@marker-color: hsla( @number-hue, 20%, 40%, 60% );


@gutter: 16px;
@font-family-mono: 'Source Code Pro', monospace;

@control-slider-detail-width: 144px;
@slider-thumb-width: 128px;

@control-path-width: 128px;

@loopin-line-height: 24px;

@button-height: 32px;

.box-mid {
  background: hsv(0,0,45%);
  border-radius: 16px;
}



@page-background: #252525;
@text-colour: #ccc;
@markings-colour: #000;

@indent: 12px;

@font-number: 'Source Code Pro', monospace;


@path-colour: hsl( 42, 50%, 80% );
@delim-fadeout: 90%;


@nav-width: 180px;


.well() {
  background: fadeout(black,50%);
}
