@import "_var.less";

.well() {
  background: fadeout( black, 80% );
  padding: @gutter / 4;
  border-radius: @loopin-line-height / 2;

  button {
    margin: @gutter / 4;
  }
}

.loopin span.options {
  .well();
  display: inline-block;


}
