@import "_var.less";

@import "util.less";

@import "button.less";


@control-slider-detail-width: 128px;
@slider-thumb-width: 128px;
@slider-detail-width-small: 80px;
@control-path-width: 128px;



.horten .slider {
  .fullWidth();
  position: relative;

  height: @button-height + @marker-height+ @gutter;

  margin-bottom: 1em;

  .major {
    position: relative;

    display: block;
    padding-right: @control-slider-detail-width;
    box-sizing: content-box;
  }

  .minor {
    position: absolute;
    width: @control-slider-detail-width;
    padding-left: @gutter;
    box-sizing: border-box;
    right: 0;
    top: 0;
    height: @button-height;

    input {
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }

  .markers-wrap {
    position: absolute;
    top: @button-height;
    left: 0;
    right: @control-slider-detail-width ;
    z-index: 90;
    height: @marker-height;
    overflow: hidden;

  }

  .markers {
    position: absolute;;
    top: 0;
    left: 0;
    right: @slider-thumb-width;
    z-index: 90;
    display: block;

    user-select: none;
    cursor: default;

    font-family: @font-family-mono;
    font-size: @marker-height;
    color: @marker-color;

    .marker {
      display: block;
      width: 100%;
      position: absolute;
      .inner {

        width: @slider-thumb-width;
        text-align: center;
      }
    }
  }
}




@media screen and (max-width: 720px) {
  .horten .slider {
    .markers {
      display: none;
    }

    .major {
      padding-right: @slider-detail-width-small;
    }

    .minor {
      width: @slider-detail-width-small;
      padding-left: 4px;
      input {
        font-size: 80%;
      }
    }
  }
}
