@require "../../style/variables.less";
@import "./range.less";

@button-height: 32px;


@control-slider-detail-width: 128px;
@slider-thumb-width: 64px;
@slider-detail-width-small: 80px;
@control-path-width: 128px;

@marker-height: 12px;
@number-hue: 230;
@marker-color: hsla( @number-hue, 20%, 40%, 60% );
@gutter: 12px;

.mediumBorder() {
  border: 1px solid #456;
  border-radius: 4px;
}


.horten .slider {
  position: relative;
  // height: @button-height + @marker-height+ @gutter;
  // min-width: 540px;
  // max-width: 800px;
  width: 100%;

  .major {
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: block;
    // padding-right: @control-slider-detail-width;
    box-sizing: content-box;
  }

  .secondary {
    width: 8em;
    text-align: center;
    background: transparent;
    color: #89a;
    .mediumBorder();
  }

  .markers-wrap {
    position: absolute;
    top: @button-height;
    left: 0;
    right: 0;
    top: 10px;
    z-index: -90;
    height: @marker-height;
    overflow: hidden;

  }

  

  .markers {
    position: absolute;
    top: 0;
    left: 0;
    right: @slider-thumb-width;
    z-index: 90;
    display: block;

    user-select: none;
    cursor: default;

    font-family: @font-family-mono;
    font-size: @marker-height;
    color: @marker-color;

    .marker {
      display: block;
      width: 100%;
      position: absolute;
      .inner {

        width: @slider-thumb-width;
        text-align: center;
      }
    }
  }
}




