@import "../../style/well.less";

@vboxslider_round: 24px;

.horten.control.pixels {



  .inner {
    flex-direction: row;
    // flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    padding-bottom: 6px;

    // .delim {
    //   font-size: 200%;
    //   text-align: center;
    //   color: rgba(0,0,0,50%);
    //   display: table-row;
    //   vertical-align: middle;
    // }
    height: 100%;
  }

  // .toolbar {
  //   margin-bottom: 0.5em;
  //   .button {
  //     margin-right: 0.5em;
  //   }
  // }

  td.pixel {
    // background: red;
  }
  // td.pixel {
  //   // width: 100%;
  //   height: 100%;
  //   box-sizing: border-box;
  //   min-height: 1.25em;
  //   min-width: 2em;

  //   border: 1px solid red;

  //   div {
  //     width: 100%;
  //     height: 100%;
  //   }
  // }

  .pixels-mode-dropper {
    .pixel {
      cursor: pointer;
    }
  }

  .pixels-mode-paint, .pixels-mode-drum {
    .pixel {
      cursor: crosshair;
    }
  }



  .sliders {
    margin: 4px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;

    .slider {
      width: 100%;
    }

    .spacer {
      width: 16px;
    }
  }

  .inner  table {

    width: 100%;
    height: 100%;

    tbody, tr {
      // width: 100%;
      // height: 100%;
    }

    // td div {
    //   width: 100%;
    //   display: block;
    // }

    .button {
      // box-sizing: border-box;
      // border: 2px solid rgba(0,0,0,0);
    }

    .button.selected {
      border: 2px solid white;
    }

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    td {
      margin: 3px;
      border-radius: 3px;
      min-width: 48px;
      min-height: 48px;


      .pixel {

      }

      div {
        display: flex;
        width: 100%;
        height: 100%;
      }
    }
  }
}



// button.selected {
//   box-shadow: 1px 2px 6px black inset;
//   // border: solid 2px white; 
// }