@import "../../style/button.less";

.horten pre {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.horten .yaml {
  // padding-top: 0px;
  // padding-left: 6px;
  // padding-right: 2px;
  // padding-bottom: 2px;
  padding: 0.125em 0.25em;


  .display {
    display: block;
    clear: both;
    // max-width: 540px;
    // min-width: 240px;
    width: 100%;
    .button();
    background: @readout-bg;
    padding: 0px 4px;
    pre {
      margin: 0;
    }
  }
}
