@import "../../style/button.less";


.horten .yaml {

}

.horten .yaml {

  .display {
    display: block;
    clear: both;
    max-width: 540px;
    min-width: 240px;

    .button();
    background: #2b303b; // From hljs Ocean
    padding: 0px 4px;
    pre {
      margin: 0;
    }
  }
}
