@import "../../style/button.less";
@import "../../style/well.less";



.markdownTitle() {
  text-align: center;

}

.horten.markdown {
  .fullWidth();

  background: transparent;
  border: none;
  box-shadow: none;

  // & > .inner {

  // }

  .markdown-content {
    margin: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;

    & > *:first-child {
      margin-top: 0;
    }

    &> p {
      padding: 0.3em 0.5em ;
      max-width: 40em;
    }

    &> hr {
      width: 100%;
      border-top: 1px dashed fadeout( white, 90% );
      border-bottom: none;
      margin: 1em 2em;
    }

    &> h1 {
      .markdownTitle();
      width: 100%;
    }

    &> h2 {
      .markdownTitle();
      width: 100%;
    }

    &> h3 {
      padding: 1em 1em;
      margin: 1em 0.8em;
      max-width: 240px;
    }
  }
}



.md-element {
  margin-bottom:  0.5em;
}

.md-element::after {
  content: "";
  clear: both;
  display: table;
}

.horten .source {
  display: block;
  clear: both;
  max-width: 540px;
  min-width: 240px;
}

section > .horten.control {
  margin: 0;
}

.horten .source {
  display: inline-block;
  .button();
  background: #2b303b; // From hljs Ocean
  padding: 8px 16px;
  pre {
    margin: 0;
  }
}
