@import "./variables.less";

.button() {
  font-family: @font-family-mono;
  font-size: 20px;
  box-sizing: border-box;
  min-height: 1.25em;
  min-width: 2em;
  border-radius: @button-height / 4;
  border: none;
  display: inline-block;
  padding: 0 0.25em;
  margin: 0.125em;

  box-shadow: @button-unselected-highlight, @button-unselected-shadow;

  background: @button-unselected-bg;
  color: @button-unselected-colour;


  pre.yaml {
    background: transparent !important;
    text-align: left;
    margin: 0;
    padding: 4px 0.4em !important;
  }

  &.icon {
    padding: 0 0.5em;
  }

  &.unselected {
    cursor: pointer;
    border: @button-border-width solid;
    box-shadow: @button-unselected-highlight, @button-unselected-shadow;
    text-shadow: @button-text-shadow;
  }

  &.selected {
    border: @button-border-width solid;
    box-shadow: @button-selected-highlight, @button-selected-shadow;
  }

  &.seethru {
    border: none;
    box-shadow: @button-unselected-shadow;
  }

  &.seethru.selected {
    border: @button-border-width solid @button-selected-border;
    box-shadow: @button-selected-shadow, @button-seethru-selected-highlight;
  }

  &.down {
    background: @button-focus-bg;
    color: @button-focus-colour;
  }

  &.seethru {
    background: transparent;
    color: @button-focus-colour;
  }

  &.tab {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  }
}


// .horten button {


//   pre {
//     margin: 0.5em 0;
//   }


// }





// .horten button, .horten .button {
//   .button();

// }
