.horten.control {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  margin-right: 1em;
}

.horten.control > header {
  margin-bottom: 0.25em;
  a:empty {
    display: none;
  }

  .title {
    display: inline-block;
    clear: both;
  }

  .title:empty {
    display: none;
  }

  .description {
    display: block;
    clear: both;
    margin-bottom: 0.25em;
  }

  .short {
    float: right;
  }
}

