@import "./typography.less";
@import "./control.less";
@import "./button.less";
@import "./grid.less";


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


.horten button, .horten .button {
  .button();
}

@page-background: #252525;


@header-height: 32px;
@header-button-height: 48px;

@text-colour: #ccd;
