@import "./variables.less";

@thumb-size: 24px;
@slider-border: 8px;
.horten {
  .exact {
    // margin-top: 4px;
    padding: 0 0.125em;
    margin: 0;
    height: 1em;
    position: relative;

    input {
      position: relative;
      top: -4px;
      // width: 10em;
      // margin: 0 auto;
      text-align: center;
      box-sizing: border-box;
      background: none;
      border: none;
    }
  }

  .slider {
    // width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: @slider-border;
    border: solid white 1px;
    background-size: 100% 100%;
    cursor: crosshair;
    touch-action: none;
    margin: @margin-small;

    .thumb {
      position: absolute;
      // left: -1px;
      box-sizing: border-box;
      touch-action: none;
      // border-radius: 2px;

      font-size: 75%;

      div {
        position: absolute;
      }

      div.label {
        top: 0px;
        left: 1px;
        text-align: center;
        top: 50%;
        height: @thumb-size - 8;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }

  .sliders {
    display: flex;
    margin-bottom: @margin-small * 2;
  }

  .thumb {
    width: @thumb-size;
    height: @thumb-size;
    .nail {
      border-radius: @slider-border;
      width: 100%; 
      height: 100%;
    }
  }


  .thumb.vertical {
    width: 100%;
  }

  .slider.vertical {
    min-height: 160px;
    min-width: 32px;
  }

  .thumb.horizontal {
    height: 100%;
    width: @thumb-size;
    
    .nail {
      height: 100%; 
    }
  }

  .thumb.rect {
    height: @thumb-size;
    width: @thumb-size;
  }

  .slider.horizontal {
    min-width: 160px;
    min-height: 32px;
  }

  .slider.rect {
    min-width: 160px;
    min-height: 160px;
  }
}
