
.horten {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
  }

  h1 {
    font-size: 2.5em;
    font-weight: 100;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    letter-spacing: 0.2em;
    color: #aaa;
  }

  h2 {
    font-size: 2em;
    font-weight: 100;
  }

  h3 {
    font-size: 1.25em;
    font-weight: 100;
    letter-spacing: 0.125em;
  }

  p {
    // font-size: 110%;
    line-height: 1.5em;
    text-align: justify;
    font-weight: 200;
    padding: 6px;
    margin: 6px;
  }

  code, pre {
    font-family: "Source Code Pro", monospace;
  }

  a {
    font-weight: bolder;
    color: white;
  }
}
