
@page-background: #444;


@header-height: 32px;
@header-button-height: 48px;

@text-colour: #ccd;

//
// Utility Functions
//

.fullWidth() {
  width: 100%;
  display: block;
  clear: both;
}


@margin-small: 4px; 

@button-hue: 130;
@button-height: 24px;
@button-sat: 15%;
// @button-secondary-bg: hsla( @number-hue, 20%, 30%, 90% );
@button-border-width: 1px;

@button-shadow-radius: 3px;
@button-shadow-alpha: 30%;

@button-glow-radius: 3px;
@button-text-shadow: 0 1px 2px fade( black, 50% );

@button-unselected-border: #ddd;
@button-unselected-bg: transparent;
@button-unselected-colour: #ccc;
@button-unselected-shadow: 0 @button-shadow-radius / 2 @button-shadow-radius rgba(0,0,0,@button-shadow-alpha);
@button-unselected-highlight: inset 0 @button-shadow-radius / 2 10px rgba(0,0,0,@button-shadow-alpha);

@button-selected-bg: white;
@button-selected-colour: black;
@button-selected-shadow: 0 0 @button-glow-radius rgba(255,255,255,@button-shadow-alpha);
@button-selected-highlight: inset 0 @button-shadow-radius / 2 @button-shadow-radius rgba(0,0,0,@button-shadow-alpha);
@button-selected-border: #eee;

@button-seethru-selected-highlight: inset 0 @button-shadow-radius / 2 @button-shadow-radius * 1.5 rgba(0,0,0,100%);


@button-focus-bg: white;
@button-focus-colour: black;
@button-background: transparent;
@button-highlight-offset: 2px;
@button-highlight-radius: 32px;


@text-bg: fade( rgb(70, 49, 61), 50% ); 
@readout-bg: fade( rgb(40, 54, 72), 50% ); 
@trigger-bg: fade( rgb(20, 50, 36), 50% ); 

@collector-value-bg: fade( rgb(63, 42, 59), 50% ); 

@font-family-mono: 'Source Code Pro', monospace;
@font-size-mono: 16px;

@font-family-titles: 'Raleway', sansserif;


@gutter: 4px;
@path-colour: #ccc;
@path-delim-fadeout: 75%;


//
// Unsorted
//

@vboxslider_round: 4px;