
@import "../../less/horten-control.less";
@page-background: #252525;


@header-height: 32px;
@header-button-height: 48px;

@text-colour: #ccd;

//
// Utility Functions
//

.fullWidth() {
  width: 100%;
  display: block;
  clear: both;
}



@button-hue: 130;
@button-sat: 15%;
@button-secondary-bg: hsla( @number-hue, 20%, 30%, 90% );
@button-focus-bg: white;
@button-focus-colour: black;
@button-background: rgba(68%,68%,68%,100%);

@button-highlight-offset: 2px;
@button-highlight-radius: 8px;

@button-shadow-radius: 8px;
@button-shadow-alpha: 50%;


.horten button {
  min-height: @button-height;
  border: 1px solid white;
  font-family: 'Source Code Pro', monospace;

  pre {
    margin: 0.5em 0;
  }

  &.unselected {
    background: hsla( @button-hue, @button-sat, 25%, 75% );
    color: hsla( 0, 0, 85%, 100% );
  }

  &.selected {
    background: hsla( @button-hue, @button-sat, 85%, 75%);
    color: black;
  }

  &.down {
    background: @button-focus-bg;
    color: @button-focus-colour;
  }
}


.button() {
  font-family: @font-family-mono;
  font-size: 16px;
  box-sizing: border-box;
  background: #bbb;
  border-radius: @button-height / 3;
  border-style: none;
  outline: none;
  padding: 0 1em;

  box-shadow:
    // inset @button-highlight-offset @button-highlight-offset @button-highlight-radius fadeout( white, 20% ),
    0 @button-shadow-radius / 2 @button-shadow-radius rgba(0,0,0,@button-shadow-alpha),

  ;

  &.secondary {
    background: @button-secondary-bg;
    box-shadow: inset @button-highlight-offset @button-highlight-offset @button-highlight-radius fadeout( black, 80% );
  }
}


.horten button, .horten .button {
  .button();

}
