@import "./variables.less";

.well() {
  background: fadeout(white,96%);
  border-left: 1px dashed fadeout( white, 80% );
  border-right: 1px dashed fadeout( white, 90% );
  border-top: 1px dashed fadeout( white, 70% );
  border-bottom: 1px dashed fadeout( white, 90% );
  border-radius: 5px;
  
  // border-image: linear-gradient( 0, fadeout( white, 0% ) 0%, fadeout( white, 100% ) 100% );
  // color: black;
}
